*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:#dbbeda;
    font-family: 'Times New Roman', Times, serif;
}
.topo{
    background-color: #dbacda ;
    padding: 14px;
    font-size: 22px;
}
.topo a{
    color:white;
    text-decoration: none;
    font-size: 24px;
}
.produto{
    background-color: #dbacda;
    padding: 40px;
    margin-bottom: 40px;
    width: 390px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family:'Times New Roman', Times, serif;
    font-size: 12px;
    margin-top: 12px;
}
.menu{
    display: flex;
    list-style: none;
    margin-left: auto;   
}
.menu li{
    margin-left: 30px;
}
.menu a:hover {
    color:black;
}
.nome{
    text-align: center;
    font-family:fantasy;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    gap: 15px;
   }

.produto img{
    width: 100%;
    margin-bottom: 20px;
}
.produto h1{
    margin-bottom: 10px;
    font-size: 26px;
    margin-top: 12px;
}
.titulo{
    text-align: center;
    margin-bottom: 10px;
    font-size: 36px;
}
.texto{
    text-align:center;
    margin-bottom: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.destaque{
    background-color: white;
    text-align: center;
    padding: 25px;
    margin-top: 12px;
}

.navegacao{
    display: flex;
    align-items: center;
}
.rodape{
    background-color: #dbacda ;
    color: rgb(8, 8, 8);
    padding: 30px;
    text-align: center;
    font-size: 15px;
}
.main{
    padding: 1px;
}
.botao{
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 30px;
    border-radius: 15px;
    font-size: 16px;
    border: 0;
}
.botao:hover{
    background-color: #dbacda;
}


